@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  padding: 0;
  background-image: url('./assets/backgroundImage.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
}

.txt-white {
  color: #ffffff;
}

.txt-black {
  color: #000000;
}

.txt-small {
  font-size: 12px;
}

.txt-medium {
  font-size: 16px;
}

.txt-large {
  font-size: 20px;
}